################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RaptorDB-Document/v15/.suo
/.vs/RaptorDbCore/DesignTimeBuild/.dtbcache
/.vs/RaptorDbCore/v15/Server/sqlite3
/.vs/RaptorDbCore/v15/.suo
/.vs/RaptorDBTest/v15/Server/sqlite3
*.suo
/datagridbinding/obj
/nuget
/Output/server/Extensions
/Output/server
/Output
/RaptorDB/bin/Debug
/RaptorDB/obj
/RaptorDB.Common/bin/Debug
/RaptorDB.Common/obj
/RaptorDBCore/RaptorDB/obj
/RaptorDBCore/RaptorDb.Common/obj
/RaptorDBCore/test/bin/Debug/netcoreapp2.0
/RaptorDBCore/test/obj
/RaptorDBdata
/RaptorDBServer/obj
/testing/obj
/vbTestConsole/obj
/Views/bin/Debug
/Views/obj
/.vs
